<html>
    <head>
        <link href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' rel='stylesheet' type='text/css'>
        <title>To Do List | Categories</title>
    </head>
    <body>
        <div class="container">
            <div class="jumbotron">
                <h1>To Do List | Categories</h1>
            </div>
            {% if tasks is not empty %}
                <p>Here are all of your categories:</p>
                <ul>
                    {% for task in tasks %}
                        <li><a href="/task/{{ task.getId }}">{{ task.getDescription }}</a></li>
                    {% endfor %}
                </ul>
            {% endif %}

            <form action="/tasks" method="post">
                <input name="description" placeholder="Task Description" type="text">
                <input name="due-date" placeholder="Due Date" type="text">

                <button type="submit" class="btn btn-success">Add a Task</button>
            </form>
            <form action="/delete_tasks" method="post">
                <button type="submit" class="btn btn-danger">Clear All</button>
            </form>

            <p><a href="/">Home</a></p>

        </div>
    </body>
</html>
